<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Heart Disease Analyzer</title>
    
    <!-- <link rel="stylesheet" type= "text/css" href= "css/style.css"> -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<!-- MultiStep Form -->
<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form id="msform">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active">Personal Details</li>
                    <li>Health Condition</li>
                    <li>Prediction Result</li>
                </ul>
                <!-- fieldsets -->
                <fieldset>
                    <h2 class="fs-title">Personal Details</h2>
                    <h3 class="fs-subtitle">Tell us something more about you</h3>
                    <input type="text" id="fname" name="fname" placeholder="First Name"/>
                    <input type="text" name="lname" placeholder="Last Name"/>
                    <input type="number" name="age"   placeholder="Age" id="age" />

                    <select class="form-control" name="sex">
                        <option value="" hidden class="gender-select">Gender</option>
                        <option value=1>Male</option>
                        <option value=0>Female</option>
                    </select>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Health Condition</h2>
                    <h3 class="fs-subtitle">Give us some more informations on your health conditions.</h3>

                    <select name="chestpain_type">
                        <option value="" hidden class="gender-select">Chest-pain type</option>
                        <option value=1>Typical angina</option>
                        <option value=2>Atypical angina</option>
                        <option value=3>Non-anginal pain</option>
                        <option value=4>Asymptotic</option>
                    </select>
                    
                    <input type="number" name="resting_blood_pressure" id="resting_blood_pressure" placeholder="Resting Blood Pressure (mmHg)" />
                    <input type="number" name="serum_cholesterol" id="serum_cholesterol" placeholder="Serum Cholesterol"/>
                    <input type="number" name="sugar" id="sugar" placeholder="Fasting Blood Sugar (mg/dl)"/>
                    
                    <!-- <div class="flex-container">
                        <div>
                            <label for="Fasting blood sugar" class="required">Fasting blood sugar > 120 mg/dl</label>
                        </div>                            
                        <div>
                            <input type="radio" name="sugar" id="true" value=1>
                            <label for="True">True</label>
                        </div>
                        <div>
                            <input type="radio" name="sugar" id="false" value=0>
                            <label for="False">False</label>
                        </div>
                    </div> -->

                    <select class="form-control" name="resting">
                        <option value="" hidden>Resting ECG</option>
                        <option value=0>Normal</option>
                        <option value=1>Having ST-T wave abnormality</option>
                        <option value=2>Left ventricular hyperthropy</option>
                    </select>

                    <!-- <div class="flex-container">
                        <div>
							<label for="Resting ECG" class="required">Resting ECG</label>
                        </div>
                        <div>
                            <select name="resting" id="resting">
                                <option value=0>Normal</option>
                                <option value=1>Having ST-T wave abnormality</option>
                                <option value=2>Left ventricular hyperthropy</option>
                            </select>
                        </div>
                    </div> -->
                    <input type="number" name="max_heart_rate" id="max_heart_rate" placeholder="Max Heart Rate Achieved" />
                    
                    <select class="form-control" name="include_angina">
                        <option value="" hidden>Exercise-Induced Angina</option>
                        <option value=0>Does not occur</option>
                        <option value=1>Occured</option>
                    </select>

                    <!-- <div class="flex-container">
                        <div>
							<label for="Exercise Include Angina" class="required">Exercise include angina</label>
                        </div>
                        <div>
                            <input type="radio" name="include_angina" id="include_angina" value=1>
                            <label for="Yes">Yes</label>
                        </div>
                        <div>
                            <input type="radio" name="include_angina" id="include_angina" value=0>
                            <label for="No">No</label>
                        </div>
                    </div> -->

                    <input type="number" step="0.01"  name="depression" id="depression" placeholder="ST depression Induced by Exercise" />

                    <select class="form-control" name="peak_exercise">
                        <option value="" hidden>Peak Exercise ST Segment</option>
                        <option value=1>Upsloping</option>
                        <option value=2>Flat</option>
                        <option value=3>Downsloping</option>
                    </select>

                    <!-- <div class="flex-container">
                        <div>
                            <label for="Peak exercise ST segment" class="required">Peak exercise ST segment</label>
                        </div>
                        <div>
                            <select name="peak_exercise" id="peak_exercise">
                                <option value=1>Upsloping</option>
                                <option value=2>Flat</option>
                                <option value=3>Downsloping</option>
                            </select>
                        </div>
                    </div> -->

                    <input type="number" name="major_vessels" id="major_vessels" placeholder="Number of Major Vessels" />
                    
                    <select class="form-control" name="thal">
                        <option value=3 hidden>Thallium Condition</option>
                        <option value=3>Normal</option>
                        <option value=6>Fixed defect</option>
                        <option value=7>Reversable defect</option>
                    </select>
                    
                    <!-- <div class="flex-container">
                        <div>
                            <label for="Thal" class="required">Thal</label>
                        </div>
                        <div>
                            <select name="thal" id="thal">
                                <option value=3>Normal</option>
                                <option value=6>Fixed defect</option>
                                <option value=7>Reversable defect</option>
                            </select>
                        </div>
                    </div> -->
                    
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="button" name="submit" id="submit" class="submit action-button" value="Submit"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Heart Disease Prediction Result</h2>
                    <h3 class="fs-subtitle" style="display:none" id="fs-result-subtitle">This is your heart disease prediction result</h3>
                    <!--<input type="text" name="email" placeholder="Email"/>
                    <input type="password" name="pass" placeholder="Password"/>
                    <input type="password" name="cpass" placeholder="Confirm Password"/>-->
                    <!--<input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="submit" name="submit" class="submit action-button" value="Submit"/>-->
                </fieldset>
            </form>
            
        </div>
    </div>
    <!-- /.MultiStep Form -->
</body>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<!-- <script src="js/script.js"></script> -->
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</html>